$font-family = 'Noto Sans', sans-serif;

@import '~vuetify/src/stylus/main' 

.v-card {
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: opacity 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
    margin-bottom: 40px;
}

.v-card.hover,
.v-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}